body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header, footer {
    padding: 20px 0;
    text-align: center;
}

.navigation-menu {
    list-style: none;
    padding: 0;

}

.navigation-menu li {
    display: inline;
    margin: 0 10px;
}

.navigation-menu a {
    text-decoration: none;
    color: black;
}

main {
    padding: 20px;
}

h2 {
    color: black;
}

footer p {
    margin: 0;
}

.images {
    width: 1900px;
    height: 552px;

    background: #00BDC9;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
.content-text {
    text-align: center;
    margin-top: 80px;
    font-weight: bold;
    font-size: 40px;
}
.text-container {
    width: 856px;
    height: 160px;
    margin-left: 500px;
}
.content-titel {
    width: 856px;
    height: 160px;
    margin-left: 480px;
    padding-bottom: 200px;
}
.mark {
    background-color: aqua;
}

.style {
    text-align: center;

}
